#start{
	display: block;
	margin-top: 20px;
	text-align: center;
}
#wrapper {
  display: inline-block; 
  width: 100%;     
  max-width: 1920px!important;      
  position: relative;  
  margin-top: 20px;
}
#wrapper::after {
  padding-top: 56.25%; 
  display: block;
  content: '';
}
#desktop{
  position: absolute;
  background-color: #ecf0f1;
  top: 0; bottom: 0; right: 0; left: 0; 
  overflow: hidden;
}
#footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(149, 165, 166,0.8);
	z-index: 2147483647;
}
#footer a{
	color: rgba(52, 152, 219,0.9);
}
#footer a:hover{
	color: rgba(41, 128, 185,0.9);
}
.camera,.rssFeed{
	width: 300px;
	overflow: scroll;
	max-height: 500px;
}
.window{
	position: absolute;
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}  
.navbar{
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
	background-color: transparent;
}
.container{
	width: 100%!important;
	max-width: 1920px;
}
.panel{
	background-color: rgba(236, 240, 241,0.9);
}
.panel-heading, .panel-footer{
	background-color: rgba(189, 195, 199,0.5)!important;
}
.panel-heading{
	cursor:move;
}
.panel-body{
	padding: 0;
}
.camera ul{
	list-style: none;
	padding: 0;
	text-align: center;
}
.camera li{
	display: inline-block;
	padding: 5px;
	background-color: rgba(52, 73, 94,0.8);
	text-align: center;
	margin: 2px;
	height: 60px;
	width: 85px;
}
.rss_title{
	border-top: 3px solid rgba(189, 195, 199,0.5);
}
.rss_title:first-child {
	border-top: 0px;
}
@media screen and (max-width: 768px) {
	.container{
		display: none;
	}
}